<footer>
 <p>
  Find me on: <br>
  <a href="/blog.html">Blog</a> | <a href="https://github.com/rchatham" target="_blank">GitHub <i class="fa fa-github" aria-hidden="true"></i></a> | <a href="https://www.linkedin.com/in/reidchatham" target="_blank">LinkedIn <i class="fa fa-linkedin" aria-hidden="true"></i></a> | <a href="https://twitter.com/reidamandweep" target="_blank">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a>
	<!-- <a href="resume.html">resume</a> -->
 </p>
<br>
 <pre class="quote">
 <!-- <blockquote> -->
"The true sign of intelligence is not knowledge but imagination."
	-Albert Einstein
 <!-- </blockquote> -->
 </pre>

 <p>
  More: <br>
  <a href="https://cocoapods.org/owners/14440" target="_blank">Cocoa Pods</a> | <a href="https://medium.com/@rchatham" target="_blank">Medium <i class="fa fa-medium"></i></a>
 </p>
</footer>
