<!-- <header>
  <ul class="navigation">
	<li><a href="/" title="Home">Reid Chatham</a></li>
  </ul>
</header> -->

<header>
	<div class="container">
		<nav>
      <ul class="navigation">
    	<li><a href="/" title="Home">Reid Chatham</a></li>
      <!-- {% for page in site.pages %} {% if page.title %}
      <li><a href="{{ page.permalink | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %} {% endfor %} -->
      <li><a href="/blog/">Blog</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</header>
