$content-width: 800px;
$main: black;
$font-family: courier;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: courier;
$heading-font-color: #425469;
$light: #e7edf4;
$header: rgb(248,204,84);

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
