
* {
	/*font-size: 160%;*/
	font-family: courier;
}
body {
  height: 100%;
  background-color: white;
  /*background: url(./pizza.gif);*/
  /*background-repeat: repeat;*/
  /*color: black;*/
  text-align: left;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
  /*line-height:1.625;*/
  font-weight: 300;
  margin: 0 auto;
  /*width: 100%;*/
  /*zoom:0.8;*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
}
/*h1 {
	margin: 50px;
	font-size: 200%;
}*/
/*p {

}*/
/*pre {

}*/

p, ul, ol, pre, blockquote, hr, object { 
  margin: 0 0 0 0;  
  padding: 0 0 0 0; 
}

/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  display: block;
  background-color: white;
  margin: 0 0 0 0;
  /*height: 100px;*/
  padding: 0 0 0 0;
  color: black;
  /*text-shadow: 3px 3px 3px rgba(0,0,0,1);*/
}
  header h1 {
    display: block;
    /*height: 50px;*/
    padding: 0 0 0 0;
    float: left;
  }
    header h1 a {
      display: inline-block;
      -webkit-transform: translate3d(0,0,0);
      -webkit-transition: 160ms -webkit-transform ease-out;
    }
    header h1 a:hover {
      -webkit-transform: translate3d(0,2px,0);
  /*    -webkit-filter: blur(1px);
      -moz-filter: blur(1px);*/
      cursor: pointer;
    }
    header h1 img { 
      display: block; 
      float: left; 
    }

  header ul.navigation {
    display: block;
    text-align: left;
    float: left;
    line-height: 50px;
    padding-top: 0;
    margin-left: 4em; margin-right: 0;
    margin-top: 3em; margin-bottom: 1em;
  }
  header ul.navigation li:first-child { padding-left: 0px; }
  header ul.navigation li {
    display: inline-block;
    list-style: none;
    padding-left: 10px;
  }
  header ul.navigation li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 200%;
    /*letter-spacing:0.01em;*/
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
  }
  header ul.navigation li a:hover {
    color: black; 
    text-decoration: none;
    font-weight: bolder;
  }
  header ul.navigation li a.active {
    font-weight: bold;
    color: black;
  }


pre.quote {
	margin: 50px;
}

/*
div.indent { margin-left: 10px; }
div.indent.double { margin-left: 20px; }
*/

div.content {
	margin-left: 4em;
	margin-top: 130px;
	margin-bottom: 130px;
}

/*div.content  { margin-left: 2em; margin-bottom: 0.3em; }*/
div.content li { margin-left: 2em; margin-bottom: 0.3em; }
div.content ul > li { margin-left: 1.4em; }

div.content.centered {
	margin-left: 0;
	text-align: center;
}

div.post {
	height: auto;
	width: 750px;
	margin: 0 auto; 
	margin-bottom: 0.3em;
}

div.post-list {

}

footer {
	width: 100%;
	text-align: center;
}